body {
  margin: 0;
  font-family: 'Berkshire Swash', cursive;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.search-bar label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.random-recipe-btn {
  margin-left: 1em;
  border: none;
  background-color: teal;
  color: white;
  opacity: 0.7;
  padding: 1%;
  border-radius: 16px;
}

.random-recipe-btn:hover {
  transform: scale(1.1);
}

.random-recipe-btn:active {
  box-shadow: -1px 2px 27px -5px rgba(0,0,0,0.75);
}