body {
  margin: 0;
  font-family: 'Berkshire Swash', cursive;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-image: url("/assets/foodbg.jpg");
  height: 100%;
  /* overflow: hidden; */
  color: lightgray;
  opacity: 0.9; 
  }
.form-inline > input[type="text"]{
  margin: 2em;
  width:30%;
  padding: 1em;
}
.form-inline > label{
  margin: 2em;
  width:30%;
  /* padding: 1em; */
}

.random-recipe-btn {
  margin-left: 1em;
  border: none;
  background-color: greenyellow;
  color: black;
  opacity: 0.7;
  padding: 1%;
  border-radius: 16px;
  width:15%;
}

.random-recipe-btn:hover {
  transform: scale(1.1);
}

.random-recipe-btn:active {
  box-shadow: -1px 2px 27px -5px rgba(0,0,0,0.75);
}
.footer {
  position: fixed;
  bottom: 0;
  font-size: large;
  text-align: center;
  width: 100%;
  padding-top:12%
}